  <div class="navbar-lewagon">
  <div class="nav-left">
    <img src="https://www.pngitem.com/pimgs/m/543-5435420_popcorn-png-image-popcorn-cinema-logo-png-transparent.png" alt="logo"/>
  </div>
  <div class="nav-right">
    <div class="btn_lists">
    <%= link_to "My lists", lists_path %>
    </div>
    <div class="btn_add_new_list">
   <%= link_to "Add a new list", new_list_path %>
    </div>
  </div>
  </div>
