.img-container {
  width: 100vw;
  height: 30vh;
  overflow: hidden;
}

.banner_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card-lists {
  max-width: 100vw;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

.card-lists h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #11084e;
}

.list-movies {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  list-style: none;
  justify-content: center;
}

.list-movies li {
  background: #f4f4f4;
  width: 200px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  color: #333;
}

.list-movies li:hover {
  background-color: #8978f9;
  color: white;
}

.list-movies li a {
  text-decoration: none;
  color: inherit;
}
