  <div class="navbar-lewagon">
  <div class="nav-left">
    <%= image_tag "https://cdn.vectorstock.com/i/500p/92/81/fast-movie-logo-template-icon-symbol-vector-40439281.jpg", alt: "logo" %>
  </div>
  <div class="nav-right">
    <div class="btn_lists">
    <%= link_to "My lists", lists_path %>
    </div>
    <div class="btn_add_new_list">
   <%= link_to "Add a new list", new_list_path %>
    </div>
  </div>
  </div>
