.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: white;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-left img {
  width: 40px;
  margin: 5px 0px 0px 10px;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-right .btn_lists a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-right: 5px;
  background-color: #567af0;
  padding: 5px;
  border-radius: 4px;
  font-size: 13px;

  &:hover {
    opacity: 0.5;
  }
}

.nav-right .btn_add_new_list a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-right: 5px;
  background-color: rgb(102, 168, 127);
  padding: 5px;
  border-radius: 4px;
  font-size: 13px;

  &:hover {
    opacity: 0.5;
  }
}
