.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: white;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-left img {
  width: 40px;
  margin: 5px 0px 0px 10px;
}

.nav-right {
  display: flex;
  align-items: center;
}
